body {
    margin: 0;
    padding: 0;
    background: #607d8b1c;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dcdcdc8a;
    border:1px solid gray;
}

.keys {
    display: grid;
    grid-template-columns: 55px 55px 55px 55px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
    justify-content: center;
}

.input-1,
input {
    width: 150px;
    height: 32px;
    outline: none;
    text-align: right;
    padding: 0px 3px;
    margin-top: 15px;
    font-size: 21px;
    color: gray;
    transform: translateX(60px);
}

.input-2 {
    transform: translateY(-13px);
    font-size: 31px;
    color: black;
    overflow: hidden;
    width: 221px;
    outline: none;
    border: none;
    background: #dcdcdc00;
}

.divs {
    text-align: center;
    background-color: #fffdfd59;
    padding: 1px;
    border: 1.8px solid #e7e7e7;
    outline: none;
}

.divs:hover {
    background-color: #9e9e9e45;
}

#num {
    background-color: white;
}

#num:hover {
    background-color: #9e9e9e45;
}

#sym:hover {
    background-color: rgb(132 236 254);
    color: white;
}
